*.pyc
datas2/

#ignore everything in directory generated
datas/generated/*

#except default directory
!datas/generated/defaultMuseum/
!datas/generated/defaultMuseum/*

#ignore eveything in texts/paintings directory
datas/texts/paintings/*
!datas/texts/paintings/.gitkeep

#except test File ( desactivated )
#test.py

#except configurationFile
conf.ini
